
body {
	background: #ecf0f1;
}
#countdown {
	text-align: center;
	font-size: 2em;
	margin-top: 5%;
	color: #c0392b;
}
#pastdday {
	text-align: center;
	font-size: 2em;
	margin-top: 10%;
	color: #c0392b;
}

#don_pic {
  	display:block;
  	margin-left:auto;
  	margin-right:auto;
  	opacity: 0.2;
}

#theme {
	color: #dde4e6;
	font-size: 8em;
}
#bottom {
	color: #dde4e6;
	font-size: 7em;
	position: fixed;
	bottom: 0%;
}
#info {
	color: #999999;
	font-size: 1em;
}
#dday {
	text-align: center;
	font-size: 2em;
	margin-top: 10%;
	color: #c0392b;
}
#ans {
	font-size: 1em;
	margin-top: 10%;
	color: #999999;
}
.accent {
	color: #c0392b;
}
